*{
    
    background:cyan;
}

.calculator{
    text-align: center;
    margin:0 auto;
    padding-top: 200px;
    width: 400px;
    
}

.screen {
    background-color: #212121;
    margin: 0 auto;
    align-items: center;
    height: 100px;
    text-align: right;
    box-sizing: border-box;
    font-size: 36px;
    padding: 25px 20px;
    width: 100%;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.5);
  }
  .ac,
.zero {
  width: 50%;
}
.calculator-keys{
    width: 100%;
}
.row{
    display: flex;
}
button {
    height:80px;
    background-color: gray;
    color: #fff;
    font-size: 32px;
    border: 1px solid black;
    width: 25%;
    outline: none;
   
}
.all-clear, .zero-button{
width:50%;
}
.row .all-clear, .row .zero-btn{
    width: 50%;
}

button:hover{
    background-color: darkgrey;
}
.operand,
.sama-dengan {
  background-color: pink;
}

.persen {
  background-color: pink;
}
.persen:hover, .sama-dengan:hover, .operand:hover{
    background-color: darkred;
}

@media only screen and ( min-width: 768px ) and ( max-width: 1035px ) {
    h1 { font-size: 80px; }
    form { width: 736px !important; }
      #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat > select, #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat { width: 731px !important; }
      .nameinput, .emailinput, #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Message > textarea { width: 666px !important; }
  }
  
  @media only screen and ( max-width: 804px ) {
      h1 { font-size: 50px; }
    form { width: 450px !important; }
     #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat > select, #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat { width: 445px !important; }
      .nameinput, .emailinput, #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Message > textarea { width: 380px !important; }
  }
  
  @media only screen and ( max-width: 517px ) {
       h1 { font-size: 30px; }
    form { width: 295px !important; }
    #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat > select, #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat { width: 290px !important; }
      .nameinput, .emailinput, #wpcf7-f156-p143-o1\20 formwrap > form > p > span.wpcf7-form-control-wrap.Message > textarea { width: 225px !important; }
    .btn { width: 110px; }
  }
  
  
  @media (max-width: 768px){
      .navbar{
          opacity: 0.95;
      }
  
      .navbar-container input[type="checkbox"],
      .navbar-container .hamburger-lines{
          display: block;
      }
  
      .navbar-container{
          display: block;
          position: relative;
          height: 64px;
      }
  
      .navbar-container input[type="checkbox"]{
          position: absolute;
          display: block;
          height: 32px;
          width: 30px;
          top: 20px;
          left: 20px;
          z-index: 5;
          opacity: 0;
          cursor: pointer;
      }
  
      .navbar-container .hamburger-lines{
          display: block;
          height: 28px;
          width: 35px;
          position: absolute;
          top: 20px;
          left: 20px;
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
  
      .navbar-container .hamburger-lines .line{
          display: block;
          height: 4px;
          width: 100%;
          border-radius: 10px;
          background: #fff;
      }
      
      .navbar-container .hamburger-lines .line1{
          transform-origin: 0% 0%;
          transition: transform 0.3s ease-in-out;
      }
  
      .navbar-container .hamburger-lines .line2{
          transition: transform 0.2s ease-in-out;
      }
  
      .navbar-container .hamburger-lines .line3{
          transform-origin: 0% 100%;
          transition: transform 0.3s ease-in-out;
      }
  
      .navbar .menu-items{
          padding-top: 100px;
          background: #0078AA;
          height: 100vh;
          max-width: 300px;
          transform: translate(-150%);
          display: flex;
          flex-direction: column;
          margin-left: -40px;
          padding-left: 40px;
          transition: transform 0.5s ease-in-out;
          box-shadow:  5px 0px 10px 0px #aaa;
          overflow: scroll;
      }
  
      .navbar .menu-items li{
          margin-bottom: 1.8rem;
          font-size: 1.1rem;
          font-weight: 500;
      }
  
      .logo{
          position: absolute;
          top: 10px;
          right: 15px;
          font-size: 2.5rem;
      }
  
      .navbar-container input[type="checkbox"]:checked ~ .menu-items{
          transform: translateX(0);
      }
  
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
          transform: rotate(45deg);
      }
  
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
          transform: scaleY(0);
      }
  
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
          transform: rotate(-45deg);
      }
  
  }
  
  @media (max-width: 500px){
      .navbar-container input[type="checkbox"]:checked ~ .logo{
          display: none;
      }
  }
  